<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <template>
                <div id="app"> <input type="text" v-model="todo" @keydown="doadd($event)" />
                  <button @click="doadd()">增加</button> <br>
                  <br>
                  <h2>进行中</h2>
                  <ul>
                    <li v-for="(aa,key) in list" v-if="!aa.checked">
                      <input type="checkbox" v-model="aa.checked" />{{aa.title}}
                      <button @click="dodel(key)">删除</button> </li>
                  </ul>
                  <h2>已完成</h2>
                  <ul>
                    <li v-for="(aa,key) in list" v-if="aa.checked">
                      <input type="checkbox" v-model="aa.checked" />{{aa.title}}
                      <button @click="dodel(key)">删除</button> </li>
                  </ul>
                </div>
              </template>
              <script>
                    export default{
                      data() {
                        return {
                          ok: true,
                          todo: '',
                          list: [
                            {
                              title: "123",
                              checked: true
                            },
                            {
                              title: "456",
                              checked: false
                            }
                          ]
                        }
                      },
                      methods: {
                        doadd(e) {
                          // this.list.push(this.todo)
                          console.log(e.keyCode)
                          if (e.keyCode == 13) {
                            this.list.push({
                              title: this.todo,
                              checked: false
                            })
                          }
                          this.todo = ''
                        },
                        dodel(key) {
                          // alert(key)
                          this.list.splice(key, 1)
                        }
                      }
                    }
                  </script>
                  
                  <style>
                    #app {
                      font-family: 'Avenir', Helvetica, Arial, sans-serif;
                      -webkit-font-smoothing: antialiased;
                      -moz-osx-font-smoothing: grayscale;
                      text-align: center;
                      color: #2c3e50;
                      margin-top: 60px;
                    }
                  </style>
</body>
</html>